#banner {
	width:  100vw;
	height:  100vh;
	background-image: url(DSC04481.jpg);
	background-size: cover;
	padding:  150px 0;
	text-align: center;
}
h1 {	
	text-align: center;
	front-size:  45px;
	font-family: chivo;
	padding-top: 3%;
	color: #ffebd6;
}
#mainsubtitle {
	color: #ffebe8;
	front-size: 30px;
	text-align: center;
	font-family: Overpass;
	opacity: 0.7;

}
#commandbutton {
	text-decoration: none ;
	background-color: #ce9c35;
	color: #ffebd6;
	text-align: center;
	transform: scale(1.1);
	font-family: Overpass;
	border-radius: 30px;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 25px;
}
#commandbutton:hover {
	background-color: rgba(22,11,100,0.9);
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	background-color: white;
	width:  350px;
	height:  440px;
	box-shadow: 0 0 16px rgba(228, 129, 56, 0.8);
	border-radius: 4px;
	padding:  24px;
	margin:  8px;
	text-align: center;
	font-family: Overpass;
	color: rgba(22,11,100,0.9);
}
#secondsubtitle {
	color: rgba(22,11,100,0.9);
	front-size: 30px;
	text-align: center;
	font-family: Overpass;
	opacity: 0.7;

}
.card img {
	width:  100%;
	height:  300px;
	border-radius: 4 px;
	object-fit:  cover;
}
#footer {
	height: 50px;
	background-color: rgba(233, 159, 99, 0.49) ;
	color:  white;
	padding-top: 4%;
	text-align: center;
	margin-top: 40px;
	font-family: Overpass;
}
#apropos {
	align-content: center;
	height : 550px;
	text-align: center;
	font-family: Overpass;
	
	padding-top: 20px;
	padding-left: 130px;
	padding-right: 130px;
	padding-bottom: 20px;
	margin-left: 140px;
	margin-right: 140px;
	box-shadow: 0 0 16px rgba(228, 129, 56, 0.8);
	color:rgba(22,11,100,0.9);
	margin-top: 30px;
	background-color: white
}
body {
	background-color:rgba(255, 244, 227, 0.6) ;
}
#insta{
	color: white;
}
#abus {
	margin-top: 30px ;
	align-content: center;
	text-align: center;
	font-family: Overpass;
	box-shadow: 0 0 16px rgba(228, 129, 56, 0.8);
	color:rgba(22,11,100,0.9);
	margin-left: 140px;
	margin-right: 140px;
	color: rgba(22,11,100,0.9);
	padding: 10px;
	background-color: white;
}
#localisation {
	margin-top: 30px ;
	align-content: center;
	text-align: center;
	font-family: Overpass;
	box-shadow: 0 0 16px rgba(228, 129, 56, 0.8);
	color:rgba(22,11,100,0.9);
	color: rgba(22,11,100,0.9);
	margin-left: 150px ;
	margin-right: 150px;
	padding: 10px;
	background-color: white;
}
